In [1]:
#DEBER
#1 Suponga que tiene una lista [1, 2, 3, 2, 1] y desea crear una nueva lista sin números dobles, después de resolver este problema, intente reescribirla como una sola línea
#Un one liner en programación es un programa existente de una sola línea. Si no logras escribir una sola línea, no te preocupes. el codigo one liner es a menudo difícile de leer y, como hemos aprendido esta semana: los lenguajes de programación están destinados a ser legibles para las personas. Así que no te preocupes si estás usando demasiado código para resolver un problema, debes preguntarte: ¿yo o alguien más entenderá esto dentro de 3 años?

In [2]:
set_1 = {1, 2, 3, 2, 1}
set_2 = {1, 2, 3, 2, 1}
print(f"lista {set_1 & set_2}")
set_1 = {1,2,3,2,1} ; set_2 = {1,2,3,2,1} ; print(f"lista{set_1 & set_2}")
lista:1

lista {1, 2, 3}
lista{1, 2, 3}

2 Slicing puede tener 3 parámetros, inicio, final y paso. Sin embargo, a menudo escribirá o leerá operaciones de corte con menos de 3 parámetros. En esta pregunta, debe volver a escribir todos los ejemplos en operaciones de corte con 3 parámetros. Después de haberlas reescrito, verifique si sus respuestas dan los mismos resultados

In [6]:
string_2 = 'abcde'
print(string_2[1:2])
print(string_2[-2:-3])
print(string_2[1:-2])

b

bc

3 Hemos construido un diccionario que se puede usar para encontrar el resultado si dos booleanos están conectados con el operador y
Reescribe este diccionario para encontrar el resultado si dos booleanos están conectados con el operador o
Python no tiene un operador XOR, busque en Internet lo que se supone que debe hacer el operador XOR y cree un diccionario que proporcione el resultado de una operación XOR

In [22]:
age = 40
blood_type = 'A'
my_and = {(True, True): True, (True, False): False, (False, True): False, (False, False): False }
print(my_and[age < 70, blood_type == 'B'])

Edad = 20
Sangre_tipo = 'B'
My = {(True or True): True, (True or False): False }
print(My[Edad > 15 or Sangre_tipo == 'C'])

a = bool(20)
b = bool("B")
print(a^b)

Edad = bool(20)
Sangre_tipo = bool('A')
print(Edad ^ Sangre_tipo)

False
False
False
False

4 En 'Las listas pueden contener listas y así formar tablas de múltiples dimensiones' se les mostro una secuencia ganadora en tres en raya. Como es muy importante para el análisis de datos y la visualización de datos que se sienta cómodo trabajando con tablas poli-dimensionales, le pedimos que reescriba la secuencia con un segundo jugador más inteligente (o un jugador que aprendió el juego de memoria) donde el juego termina en un empate.

In [38]:
tic_tac_toe_board = [[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [1][2] = 'X'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [0][2] = 'O'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [1][1] = 'X'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [1][0] = 'O'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [0][0] = 'X'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [2][2] = 'O'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [0][1] = 'X'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()

tic_tac_toe_board [2][1] = 'O'
print(tic_tac_toe_board[0]) 
print(tic_tac_toe_board[1]) 
print(tic_tac_toe_board[2])
print()
#el juego termino en empate.

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

[' ', ' ', ' ']
[' ', ' ', 'X']
[' ', ' ', ' ']

[' ', ' ', 'O']
[' ', ' ', 'X']
[' ', ' ', ' ']

[' ', ' ', 'O']
[' ', 'X', 'X']
[' ', ' ', ' ']

[' ', ' ', 'O']
['O', 'X', 'X']
[' ', ' ', ' ']

['X', ' ', 'O']
['O', 'X', 'X']
[' ', ' ', ' ']

['X', ' ', 'O']
['O', 'X', 'X']
[' ', ' ', 'O']

['X', 'X', 'O']
['O', 'X', 'X']
[' ', ' ', 'O']

['X', 'X', 'O']
['O', 'X', 'X']
[' ', 'O', 'O']

5 Ejecute el siguiente programa, vea si puede encontrar algo extraño y explique el resultado usando su conocimiento de recolección de basura

In [44]:
list_5 = [1, 2, 3]
print(f"The value of the list refered to by list_5 is {list_5} and its address is {id(list_5)}")
list_5 = [1 , 1, 3]
print(f"The value of the list refered to by list_5 is {list_5} and its address is {id(list_5)}")
list_5 = [1, 1, 4]
print(f"The value of the list refered to by list_5 is {list_5} and its address is {id(list_5)}")

#Como phyton optimiza, si bien se le asigna a la lista 5 un cierto numero de objetos, y a la misma una identificacion
#Al reasignar a list_5 una serie diferente de objetos,se le asigna un Id diferente.
#Pero al reasignar nuevamente a list_5 otros valores esta aplica el concepto de recolección de basura e ignora
#La asegunda asignacion y regresa a la primera, otorgandole a la segunda reasignacion su propio Id

The value of the list refered to by list_5 is [1, 2, 3] and its address is 140653018003088
The value of the list refered to by list_5 is [1, 1, 3] and its address is 140653152337344
The value of the list refered to by list_5 is [1, 1, 4] and its address is 140653018003088

6 Las cadenas son inmutables, pero ¿por qué funciona lo siguiente? ¿Claramente cambiamos el valor de la cadena llamada string_1? ¿Qué afirmaciones agregaría para aclarar lo que ha sucedido? usar id

In [43]:
string_1 = "text 1"
print(string_1)
string_1 = "text 2"
print(string_1)
print({id (string_1)})
#Se uso una caneda de escape, para agregar a la cadena "texto 2"

text 1
text 2
{140653018393200}